.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.content-image {
  width: 100vw;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  object-fit: contain;
  display: block;
}

.content-video {
  width: 100vw;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  object-fit: contain;
  display: block;
}

.overlay-buttons {
  position: relative;
  bottom: 10px;
  left: 47%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 400px;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 10px;
}

.overlay-buttons .btn {
  flex: 1;
  margin: 0 5px;
}
