<div class="auth-container">
  <header>
    <div class="logo">LOGO</div>
  </header>
  <main>
    <h1>CHOISISSEZ UNE OPTION</h1>
    <%= link_to "Se connecter", new_user_session_path, class: "btn" %>
    <%= link_to "S'inscrire", new_user_registration_path, class: "btn" %>
    <%= link_to "Retour", root_path, class: "link" %>
  </main>
</div>
