.avatar-options {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.avatar-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.avatar-radio {
  display: none;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.avatar-label input:checked+.avatar {
  border-color: #4D0EFF;
}

.avatar-small {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

.avatar-letter {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background-color: #4D0EFF;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
}
