.landing-title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) rotate(-10deg);
  font-family: 'Rock Salt', cursive;
  font-size: 10rem;
  text-align: center;
  line-height: 1.5;
  color: white;
  text-shadow:
    0 0 10px #00BFFF,
    0 0 20px #00BFFF,
    0 0 30px #1E90FF,
    0 0 40px #1E90FF,
    0 0 50px #1E90FF;
}
